# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Node (si front dans ce repo)
node_modules/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Secrets / Terraform
.env
.env.*
*.tfstate*
*.tfstate.backup
.*
tfplandb/mongosh-2.2.10-linux-x64.tgz
db/mongosh-2.2.10-linux-x64/
