# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
env/
venv/
dist/
build/
*.sqlite3

# === Node ===
node_modules/
npm-debug.log*
yarn-error.log*

# === Terraform ===
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json


# === Environment / Secrets ===
.env
.env.*
secrets/
*.key
*.pem

# === IDE / OS ===
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
Thumbs.db
