# Terraform
Azureinfra/terraform/.terraform/
Azureinfra/terraform/tfplan
Azureinfra/terraform/terraform.tfstate
Azureinfra/terraform/terraform.tfstate.backup
*.tfstate
*.tfstate.backup

# Python
__pycache__/
*.pyc

# autres fichiers temporaires
*.log
