# --- Framework API ---
fastapi>=0.111,<1
uvicorn[standard]>=0.29,<1
python-multipart>=0.0.6,<0.1

# --- Auth & sécurité ---
python-jose[cryptography]>=3.3,<4
passlib[bcrypt]>=1.7,<2
argon2-cffi>=23,<24

# --- DB (Cosmos Mongo via driver motor) ---
motor>=3,<4
dnspython>=2.6,<3

# --- Azure SDK (storage & queue) ---
azure-storage-blob>=12,<13
azure-storage-queue>=12,<13

# --- Utilitaires ---
pydantic>=2,<3
pydantic-settings>=2,<3
requests>=2.32,<3
